<!DOCTYPE html>
<html>
  <%= require('html-loader!./layout/header.html') %>
<body>
  <!-- 分割线 -->
  <div class="dividing-line">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="content-wrapper">
    <div class="content-item">
      <!-- 菜单栏 -->
      <div class="menu">
        <div class="item logo">
            Gypsophila paniculata L.
        </div>
        <div class="item">
          <a href="javascript:void(0);" class="menu-button">种类介绍</a>
        </div>
        <div class="item link">
          <a href="javascript:void(0);">联系我们</a>
        </div>
      </div>
      <div class="header">
        <img src="${require('../assets/images/index.jpg')}" alt="">
      </div>
    </div>
    <div class="content-item">
      <div class="show-card-wrapper">
        <div class="show-card">
          <p>满天星，圆锥石头花（学名：Gypsophila paniculata L.）是石竹科，石头花属的多年生草本植物，根粗壮。茎单生，直立，多分枝。</p>
          <a href="javascript:void(0);">进一步了解</a>
        </div>
      </div>
      <div class="show-content-wrapper">
        <h1>百度百科</h1>
        <p>满天星（Gypsophila paniculata）又叫霞草、重瓣丝石竹。石竹科，丝石竹属。由于它花型小、浅色、花姿蓬松具立体感，气质高雅清秀，给人以朦胧感，花序群体效果极佳，是重要的陪衬花材，为当今最流行的切花之一，虽然价格昂贵，但十分畅销。</p>
      </div>
    </div>
    <div class="content-item brief">
      <h1>满天星花语</h1>
      <div class="detail-image">
        <img src="${require('../assets/images/detail.jpeg')}" alt="">
      </div>
      <div class="detail">
          <p>思恋，多用于男女朋友；对于思念，有人这样说，“一直都很想你，不管做什么都会想到你，折腾过身体，费过劲，喝过酒，试过一切，但还是很想你”；也有人说“时间才是戒掉想念唯一的良药。</p>
      </div>
    </div>
    <div class="content-item describe">
      <p>
          中文学名 圆锥石头花 拉丁学名Gypsophila paniculata L. 别    称 满天星、锥花丝石竹<br>
          界 植物界 门被子植物门 纲双子叶植物纲 <br>
          亚    纲原始花被亚纲 目中央种子目 <br>
          科石竹科 亚    科石竹亚科 <br>
          族石竹族 属石头花属 种 圆锥石头花 命名者和年代 L.，1753
      </p>
    </div>
    <!-- 产品介绍 -->
    <div class="content-item product">
      <div class="product-image-wrapper">
        <img src="${require('../assets/images/product-index.jpg')}" alt="">
      </div>
      <div class="product-list">
        <ul>
          <li>完美</li>
          <li>吉普赛</li>
          <li class="product-list-curr">钻石</li>
          <li>仙女</li>
          <li>红海洋</li>
          <li>火烈鸟</li>
        </ul>
      </div>
      <div class="product-detail">
        <div class="product-detail-item">
            <p>是从仙女中选育出来的大花品种，节间短，低温时开花推迟。周年生产比较困难。</p>
            <img src="${require('../assets/images/zuanshi.jpg')}">
        </div>
      </div>
    </div>
    <div class="content-item bottom">
      <ul>
        <li>主要变种</li>
        <li class="bottom-category-curr">生长环境</li>
        <li>分布范围</li>
      </ul>
      <p>生于海拔1100-1500米河滩、草地、固定沙丘、石质山坡及农田中。 [2]  该种的生命力极强，生根快。宜在向阳环境和疏松肥沃、排水良好的微碱性砂壤土生长，土壤要求疏松，富含有机质，含水量适中，pH值7左右。</p>
    </div>
  </div>
  <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
</body>
</html>