<!DOCTYPE html>
<html lang="en">
  <%= require('html-loader!./share/header.html') %>
<body>
  <!-- 菜单栏 -->
  <%= require('html-loader!./share/menu.html') %>
  <!-- 左侧展示图 -->
  <div class="rotation-wapper">
    <div class="rotation-img"></div>
    <ul class="rotation-cut"></ul>
  </div>
  <!-- 右侧内容区域 -->
  <div class="content-wapper">
    <div class="content-introduce">
      <h1>您的专属鲜花小屋~</h1>
      <p>通过花材的排列组合让花变得更加的赏心悦目，更可以体现花种蕴含的微妙心思。</p>
      <span id="go-list">更多内容</span>
    </div>
    <div class="content-statistics">
      <ul>
        <li>
          <h1>27<span>今日更新</span></h1>
        </li>
        <li>
          <h1>428<span>浏览数</span></h1>
        </li>
        <li>
          <h1>4<span>喜欢</span></h1>
        </li>
      </ul>
    </div>
    <div class="content-product"></div>
  </div>
  <!-- 底部 -->
  <div class="bottom-wapper">
    <span>© 2019 FLOWER HUT.</span>
  </div>
</body>
</html>