/* 上滑动画 */
@keyframes up-slide {
  from {
    top: 0px;
  }
  to {
    top: -400px;
  }
}
@keyframes down-slide {
  from {
    top: -100%;
  }
  to {
    top: 0px;
  }
}
@keyframes left-slide {
  from {
    left: -100%;
  }
  to {
    left: 0px;
  }
}
@keyframes right-slide {
  from {
    right: -100%;
  }
  to {
    right: 0px;
  }
}
@keyframes bottom-up-slide{
  from {
    bottom: -100%;
  }
  to {
    bottom: 0px;
  }
}
/* 图片上滑 */
@keyframes up-image-height {
  from {
    height: calc(100% - 120px);
  }
  to {
    height: calc(0% - 120px);
  }
}
@keyframes down-image-height {
  from {
    height: calc(0% - 120px);
  }
  to {
    height: calc(100% - 120px);
  }
}